__pycache__/
*.py[cod]
*$py.class
*.so
*.pyd

.idea/
.vscode/
.vs/
*.code-workspace

.venv/
.env/
env/
venv/

*.egg-info/
dist/
build/
.pdm-python
.pdm.toml

.DS_Store
*.log

*_test.py
module.md
spec.md
